@model ComeiaAspNetCore.Models.Empresa

@{
    ViewData["Title"] = "GitHub";
}
<h1>Cadastrar empresa</h1>

<h4>Empresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
            <label asp-for="cnpj" class="form-label"></label>
            <div class="input-group">
                <input id="cnpj" data-mask="00.000.000/0000-00" asp-for="cnpj" class="form-control" />
                <span asp-validation-for="cnpj" class="text-danger"></span>
            </div>
            
            <label asp-for="nome_fantasia" class="form-label"></label>
            <div class="input-group">
                <input asp-for="nome_fantasia" class="form-control" />
                <span asp-validation-for="nome_fantasia" class="text-danger"></span>
            </div>
            
            
            <label asp-for="email" class="form-label"></label>
            <div class="input-group">
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
        
            
            <label asp-for="telefone" class="form-label"></label>
            <div class="input-group">
                <input asp-for="telefone" data-mask="(00) 0 0000-0000" class="form-control" />
                <span asp-validation-for="telefone" class="text-danger"></span>
            </div>
            
            <div class="input-group my-3">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
