@model ComeiaAspNetCore.Models.Empresa

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Empresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <label asp-for="cnpj" class="form-label"></label>
            <div class="input-group">
                <input id="cnpj" asp-for="cnpj" data-mask="00.000.000/0000-00" class="form-control" />
                <span asp-validation-for="cnpj" class="text-danger"></span>
            </div>

            <label asp-for="nome_fantasia" class="form-label"></label>
            <div class="input-group">
                <input asp-for="nome_fantasia" class="form-control" />
                <span asp-validation-for="nome_fantasia" class="text-danger"></span>
            </div>

            <label asp-for="email" class="form-label"></label>
            <div class="input-group">
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            
            <label asp-for="telefone" class="form-label"></label>
            <div class="input-group">
                <input id="telefone" asp-for="telefone" data-mask="(00) 0 0000-0000" class="form-control" />
                <span asp-validation-for="telefone" class="text-danger"></span>
            </div>

            <div class="input-group my-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
