@{
    ViewData["Title"] = "Pagina inicial";
}

<div class="row align-items-start">
    <div class="col-md-6">
        <div class="text-left">
            <h3 class="title-destaque">{Simplifique<br />}</h3>
            <p>Soluções de base tecnológica que facilitam seu negócio</p>
        </div>
    </div>


    <div class="col-md-6 ">
        <div class="row">
            <h1>Desafio Comeia <span class="badge bg-danger">2021</span></h1>
            <h3>Criando um CRUD simples e Lendo uma API publica</h3>
            <h4>Criando um CRUD simples( Crud == Criar, Ler, Atualizar, Deletar)</h4>
            <p>O site devera ter um cadastro simples de empresa com validação do CNPJ </p>
            <ul class="list-group px-3 my-3">
                <p>Banco de dados:</p>
                <li class="list-group-item">Tabela: Empresa</li>
                <li class="list-group-item">Colunas: Id, CNPJ, Nome Fantasia, Telefone, Email, Data do Cadastro</li>
            </ul>
            <p>Data do Cadastro deverá ser adicionada pelo back-end e não poderá ser editada</p>
        </div>
        <div class="row">
            <h4>Lendo uma API publica</h4>
            <p class="my-2">
                O site devera ter uma pagina exclusiva para a leitura de 1(uma) API publica via back-end, Não obrigatoriamente alguma das listadas abaixo
            </p>
            <p>
                https://viacep.com.br/ws/01001000/json/
                <br />
                https://randomuser.me/api/
                <br />
                https://economia.awesomeapi.com.br/json/all
            </p>
        </div>
        
    </div>

</div>
